
body {
    background-color: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
.system-info {
    width: 55%;
    background-color: #24353f;
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}
h2 {
    color: #17a2b8;
    font-size: 2.5rem;
}
input {
    background-color: #24353f;
    border: white 1px solid;
    color: white;
}

.nav-bar {
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}
.welcome {
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}
button {
    color: #17a2b8 !important;
    border: 1px #17a2b8 solid !important; 
}
button:hover {
    background-color: #17a2b8 !important;
    color: white !important;
}
p {
    color: white;
}
p a {
    text-decoration: none;
    color: white;
    position: relative;
}
p a:hover {
    color: white !important;
    text-decoration: underline;
}
